.containerCardItems{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 60px 15px;
    gap: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.containerCardItems:hover{
    background-color: #f1f1f1;
}

.containerSpinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.containerSpinner .spinner{
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #32CD32; /* Verde lima */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animación del spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
